* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 1rem);
  overflow: hidden;

  gap: 0.75rem;
  margin: 0.5rem;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1rem 'Roboto', sans-serif;
  line-height: 1.6;
}

nav {
  border-radius: 6px;
  display: flex;
  gap: 0.75rem;
  padding: 0.5rem;
  background-color: lightblue;

  a {
    color: darken(blue, 20%);
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: blue;
    }
  }
}

.router-link-active {
  text-decoration: underline;
}

main {
  border: 2px solid blue;
  border-radius: 6px;
  flex-grow: 1;
  overflow: auto;

  h2 {
    position: sticky;
    top: 0;
    padding: 0.25rem 0;
    background-color: lightblue;
    margin-bottom: 0.5rem;
  }

  section {
    border: 1px solid green;
    border-radius: 6px;
    padding: 0.75rem;
    margin-inline: 0.5rem;

    h3 {
      margin: 0.5rem 0;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: lightblue;
}
